@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;600&display=swap');


header img {
    width: 40px;
    height: 40px;
}

.body_main {
    font-family: 'Montserrat', sans-serif;
    background-color: aquamarine!important;
}

.NO {
    display: none!important;
}
.age{
    font-family: serif!important;
    max-width: 300px!important;
    margin: 0 auto!important;
    outline: 2px solid gray!important;
    border-radius: 5px!important;
    text-align: left!important;
}